# k8s/overlays/prod/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: family-hobbies-prod

commonLabels:
  environment: prod

resources:
  - ../../base

patches:
  - path: patches/replicas.yaml
    target:
      kind: Deployment
      labelSelector: "app notin (frontend)"
  - path: patches/resource-limits.yaml
    target:
      kind: Deployment
  - path: patches/route-hosts-api.yaml
    target:
      kind: Route
      name: api-gateway
  - path: patches/route-hosts-frontend.yaml
    target:
      kind: Route
      name: frontend
  - path: patches/namespace-override.yaml
    target:
      kind: Namespace

images:
  - name: familyhobbies/discovery-service
    newTag: "1.0.0"
  - name: familyhobbies/api-gateway
    newTag: "1.0.0"
  - name: familyhobbies/user-service
    newTag: "1.0.0"
  - name: familyhobbies/association-service
    newTag: "1.0.0"
  - name: familyhobbies/payment-service
    newTag: "1.0.0"
  - name: familyhobbies/notification-service
    newTag: "1.0.0"
  - name: familyhobbies/frontend
    newTag: "1.0.0"
