server:
  port: 8082

spring:
  application:
    name: association-service
  datasource:
    url: jdbc:postgresql://localhost:5432/familyhobbies_associations
    username: ${DB_USERNAME:fhm_admin}
    password: ${DB_PASSWORD:fhm_secret}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
