// subscriptions-overview.component.scss
.subscriptions-overview {
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 24px;
    color: rgba(0, 0, 0, 0.38);
  }

  &__item {
    min-height: 64px;
  }
}
