// subscribe-dialog.component.scss
// BEM naming convention

.subscribe-dialog {
  &__content {
    min-width: 400px;
  }

  &__association {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 16px;
    font-size: 0.875rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__field {
    width: 100%;
  }

  &__actions {
    padding: 16px 24px;
  }
}
